<h1 matDialogTitle>Please confirm the action!</h1>
<div mat-dialog-content>{{ confirmMessage }}</div>
<div mat-dialog-actions class="flex justify-between pt-24">
  <button mat-button class="focus:outline-none" (click)="cancel()">
    <mat-icon class="mr-2">cancel</mat-icon> <span>Cancel</span>
  </button>

  <button
    mat-raised-button
    class="bg-blue-500 text-white focus:outline-none"
    (click)="confirm()"
  >
    <mat-icon class="mr-2">delete</mat-icon>
    <span>{{ confirmButton }}</span>
  </button>
</div>
