<form name="formParams" [formGroup]="formParams">
  <div class="flex flex-row my-2">
    <button class="flex bg-green-400 cursor-pointer p-1 rounded-md text-white text-center hover:bg-green-600"
      (click)="refresh()" [disabled]="formParams.invalid">
      <span class="self-end">Refresh</span>
      <mat-icon class="ml-2 self-end">refresh</mat-icon>
    </button>
  </div>
  <div class="flex flex-row justify-between">
    <div aria-label="select year container" class="w-2/5 mr-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Select Year</mat-label>
        <mat-select formControlName="year">
          <mat-option *ngFor="let year of yearList" [value]="year">{{
                year
              }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div aria-label="select stock container" class="w-2/5 mr-2">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Select stock</mat-label>
        <mat-select formControlName="stock">
          <mat-option *ngFor="let stock of stockList" [value]="stock.id">{{
                stock.code
              }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<!-- Candle chart -->
<div id="candleChart">
  <apx-chart [series]="candleChartOptions.series" [chart]="candleChartOptions.chart" [xaxis]="candleChartOptions.xaxis"
    [yaxis]="candleChartOptions.yaxis" [title]="candleChartOptions.title">
  </apx-chart>
</div>

<!-- Line chart -->
<div id="lineChart">
  <apx-chart [series]="lineChartOptions.series" [chart]="lineChartOptions.chart" [xaxis]="lineChartOptions.xaxis"
    [yaxis]="lineChartOptions.yaxis" [title]="lineChartOptions.title">
  </apx-chart>
</div>

<!-- Combo chart -->
<div id="comboChart">
  <apx-chart [series]="comboChartOptions.series" [chart]="comboChartOptions.chart" [yaxis]="comboChartOptions.yaxis"
    [xaxis]="comboChartOptions.xaxis" [labels]="comboChartOptions.labels" [stroke]="comboChartOptions.stroke"
    [title]="comboChartOptions.title" [dataLabels]="comboChartOptions.dataLabels" [fill]="comboChartOptions.fill"
    [tooltip]="comboChartOptions.tooltip"></apx-chart>
</div>
